<template name="Layout">
  <head>
    <title>postyouridea</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <!-- all the other local CSS/LESS files are automatically referenced -->
  </head>
  <body>
    <div class="container-fluid">
      <!-- <div>possibly the header?</div> -->
    </div>

    <div class="content-block">
      {{> yield "content"}}
    </div>

    
    <!-- Footer template -->
      <!-- {{> Footer}} -->
    <!-- //Footer template -->
  </body>

</template>
